:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --tweet-bg: #f0f0f0;
}

[data-theme="dark"] {
    --bg-color: #121212;
    --text-color: #ffffff;
    --tweet-bg: #1f1f1f;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--tweet-bg);
    align-items: center;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

#tweetForm {
    margin: 20px;
}

.tweet {
    background-color: var(--tweet-bg);
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
}

.tweet img {
    max-width: 100%;
    border-radius: 5px;
}

